.custom-z-index {
  z-index: 100;
}

.custom-font-color {
  color: #0e7590;
}

.custom-font-color-2 {
  color: white !important;
}

.custom-bg-color {
    background-color: #0e7590;
}

.custom-bg-jumbotron {
  background-image: url("./images/bg-jbt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.custom-bg-auth {
  height: 100vh;
  width: 100%;
}
